*{
   MARGIN: 0;
   PADDING: 0;
 }

html{
	scroll-behavior: smooth;
}

.NAVBAR{ 
 	 DISPLAY: FLEX;
	 ALIGN-ITEMS: CENTER;
	 JUSTIFY-CONTENT: CENTER;
	 POSITION: STICKY;
	 TOP: 0;
	 CURSOR: POINTER;
 }


.BG{
	     BACKGROUND: RGBA(0,0,0,0.7) URL('../img/ch 1.jpg');
	     BACKGROUND-SIZE: COVER;
 	     BACKGROUND-BLEND-MODE: OVERLAY;
	    
 }


.NAV-LIST{
	    WIDTH: 75%;
	    DISPLAY: FLEX;
	    FLEX-DIRECTION: ROWS;      		
 }

.LOGO{
	WIDTH: 8%;
	MARGIN: AUTO;
}

.NAV-LIST IMG{
	   JUSTIFY-CONTENT: center;
	   ALIGN-ITEMS: CENTER;
	   BORDER: 3PX SOLID WHITE;
	   BORDER-RADIUS: 60PX;
 }

.NAV-LIST LI{
		LIST-STYLE: NONE;
		DISPLAY: FLEX;
		JUSTIFY-CONTENT: center;
		ALIGN-ITEMS: CENTER;
		PADDING: 20PX 30PX;
 
 }
.NAV-LIST LI A{
		TEXT-DECORATION: NONE;
		COLOR: WHITE;
		
 }

.NAV-SEARCH{
	       MARGIN: 0 40PX;
	       WIDTH: 50%;
 }
.BTN1{
	
	PADDING: 7PX 20PX;
	MARGIN: 7PX 2PX;
	BORDER: 2PX SOLID WHITE;
	BORDER-RADIUS: 18PX;
	BACKGROUND: NONE;
	COLOR: WHITE;
	CURSOR: POINTER;
}

#SEARCH{
	 MARGIN-TOP: 2PX;
	 PADDING: 5PX;
	 FONT-SIZE: 17PX;
	 BORDER: 2PX SOLID BLACK;
	 BORDER-RADIUS: 18PX;
 }

.FIRST-SECTION{
	     HEIGHT: 100VH;
             
}


.BOXMAIN{
	DISPLAY: FLEX;
	JUSTIFY-CONTENT: CENTER;
	ALIGN-ITEMS: CENTER;
	COLOR: WHITE;
	MAX-WIDTH: 50%;
        MARGIN: AUTO;
	HEIGHT: 80%
}

.FIRST-HALF{
		WIDTH: 80%;
		DISPLAY: FLEX;
		FLEX-DIRECTION: COLUMN;
		JUSTIFY-CONTENT: CENTER;
}


.SECOND-HALF{
		WIDTH: 40%;
 }

.SECOND-HALF IMG{
		WIDTH: 70%;
		BORDER: 4PX SOLID WHITE;
		BORDER-RADIUS: 100PX;
		DISPLAY: BLOCK;
		MARGIN: CENTER;
}


.TEXT1{
	 	FONT-SIZE: 30PX;
}

.TEXT2{
		FONT-SIZE: 15PX;
		MARGIN: 17PX 0;
}

.BTN2{
	PADDING: 7PX 20PX;
	MARGIN: 7PX 2PX;
	BORDER: 2PX SOLID WHITE;
	BORDER-RADIUS: 18PX;
	BACKGROUND: NONE;
	COLOR: WHITE;
	CURSOR: POINTER;
}

.BTN2 a{
	color: white;
	text-decoration: none;
}

.SECRIGHT{
	HEIGHT: 150PX;
	DISPLAY: FLEX;
	ALIGN-ITEMS: CENTER;
	JUSTIFY-CONTENT: CENTER;
	MAX-WIDTH: 1333PX;
	MARGIN: AUTO;
	MARGIN-TOP: 70PX;
	PADDING: 20PX;
}

.SECLEFT{
	HEIGHT: 50PX;
	DISPLAY: FLEX;
	ALIGN-ITEMS: CENTER;
	JUSTIFY-CONTENT: CENTER;
	MAX-WIDTH: 1333PX;
	MARGIN: AUTO;
	MARGIN-TOP: 270PX;
	PADDING: 30PX;
}


.SEC-CENTER{
	HEIGHT: 300PX;
	DISPLAY: FLEX;
	ALIGN-ITEMS: CENTER;
	JUSTIFY-CONTENT: CENTER;
	MAX-WIDTH: 1333PX;
	MARGIN: AUTO;
	MARGIN-TOP: 200PX;
	PADDING: 20PX;
}
.THUMBNAIL{
	WIDTH: 80%;
	PADDING: 20PX 7PX;
	
}
.THUMBNAIL IMG{
	WIDTH: 100%;
	BORDER-RADIUS: 60PX;
	BORDER: 2PX SOLID WHITE;
}

.THUMBNAIL2{
	WIDTH: 80%;
	
}
.THUMBNAIL2 IMG{
	BORDER: 2PX SOLID WHITE;
	BORDER-RADIUS: 60PX;
}
.PARAS2{
       PADDING: 10PX 20PX;
}

.CONTACT-US{
	MARGIN-TOP: 100PX;
	BACKGROUND-COLOR: SNOW;
	HEIGHT: 500px;

}


.TEXT-CENTER{
	TEXT-ALIGN: CENTER;
	FONT-SIZE: 28;
	PADDING: 20PX 0;
}
.FORM {
	MAX-WIDTH: 300PX;
	MARGIN: AUTO;

}

.FORM INPUT{
	MARGIN-TOP: 15PX;
	WIDTH: 100%;
	FONT-SIZE: 14PX;
        BORDER: 2PX SOLID GREY;
   	BORDER-RADIUS: 8PX;
	
    
}

.FORM TEXTAREA{
	MARGIN-TOP: 15PX;
	WIDTH: 100%;
	FONT-SIZE: 14PX;
        BORDER: 2PX SOLID GREY;
   	BORDER-RADIUS: 8PX;
	
}
.BTN3{
	MARGIN-TOP: 6PX;
	BORDER: 2PX SOLID GREY;
	BORDER-RADIUS: 18PX;
	COLOR: SOLID BLACK;
	PADDING: 6PX 8PX;
	CURSOR: POINTER;
}

.FOOTER-TEXT{
	COLOR: WHITE;
	TEXT-ALIGN: CENTER;
	FONT-SIZE: 16;
	PADDING: 10PX;
	PADDING-TOP: 30PX;
	
}

.FOOTER{
	HEIGHT: 120px;
}

.DEVLOPER{
	MARGIN-TOP: 30PX;
	FONT-SIZE: 16PX;
	COLOR: WHITE;
	TEXT-ALIGN: CENTER;
}

#BURGER{
	DISPLAY: NONE;
	POSITION: ABSOLUTE;
	CURSOR: POINTER;
	RIGHT: 5%;
	TOP: 14PX;
	color: white;
	font-size: 2rem;
}

.LINE{
	WIDTH: 22PX;
	BACKGROUND-COLOR: WHITE;
	HEIGHT: 4PX;
	MARGIN: 2PX 8PX;
	MARGIN-LEFT: 14PX;
	
}

@MEDIA ONLY SCREEN AND (MAX-WIDTH: 1088PX){
	
	.NAV-LIST{
		    FLEX-DIRECTION: COLUMN;
		 }
	.NAVBAR{
		    FLEX-DIRECTION: COLUMN;
	       }
	.NAV-SEARCH{
    	TEXT-ALIGN: center;
	}   	       
	.LOGO{
		    WIDTH: 40PX;
	     }
	#SEARCH{
		   WIDTH: 100%;
	       }
	#BURGER{
		   DISPLAY: BLOCK;
	       }     
	.RESP-HEIGHT-NAV{
		    HEIGHT: 55PX;
		   }
	.V-CLASS-RESP{
		  OPACITY: 0%;
		}
}






	    